#appbar-parent{
  display: flex;
  justify-content: space-between;
}
#appbar-buttons{
  display: flex;
}

#appbar-buttons button {
  margin-right: 5px;
  margin-left: 5px;
}

#pageContent{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#login-page card{
  width: 100%;
}

#logo-main {
  display: flex;
  width: 50%;
}

#logo-name {
  margin-left: 10px;
  margin-top: 4px;
}

#logo{
  display: flex;
  margin-left: 10px;
  -webkit-animation:spin 0.5s linear ;
  -moz-animation:spin 0.5s linear ;
  animation:spin 0.5s linear ;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#logo #first{
  height: 20px;
  width: 20px;
  background-color: red;
}

#logo #second{
  height: 20px;
  width: 20px;
  background-color: green;
}

#logo #third{
  height: 20px;
  width: 20px;
  background-color: blue;
}

#logo #fourth{
  height: 20px;
  width: 20px;
  background-color: yellow;
}

#play-button{
  display: flex;
  justify-content:space-evenly

}

#game{
  border: solid;
  width: 100vh;
  height: 100vh;
  display: flex;
}

#game #red {
  height: 40vh;
  width: 40vh;
  background-color: red;
}

#game #blue {
  height: 40vh;
  width: 40vh;
  background-color: blue;
}

#game #green {
  height: 40vh;
  width: 40vh;
  background-color: green;
}

#game #yellow {
  height: 40vh;
  width: 40vh;
  background-color: yellow;
}

#path-div{
  display: flex;
}

#path-div2 div{
  display: flex;
}

#pathway-1 {
  border:  solid;
  height: 6.25vh;
  width: 6.25vh;
}

#middle {
  border: solid;
  height: 19.5vh;
  width: 19.5vh;
}